body{
    background: linear-gradient(90deg, rgba(77, 207, 41, 2),rgba(63, 167, 135, 4));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
}
.carte{
    width: 450px;
    height: 600px;
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items:center;
    border-top:1px solid rgba(248, 246, 246, 0.56);
    border-left:1px solid  rgba(248, 246, 246, 0.56);
}
.contenue{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding: 0 20px;
}
.photo img {
    width: 150px;
    height: 200px;
}
.photo{
    border: 5px solid rgba(47, 245, 50, 0.5);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height: 200px;
    position: relative;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0;
    margin: 20px auto;
}
ul li a:hover {
    color:#04d81d;
}

h1,a,p{
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.icons{
    font-size:40px;
    color: #fff;
    width: 300px;
    padding: 0px;
}
.btn{
    text-transform: uppercase;
    font-size: 20px;
    width: 150px;
    padding: 8px 0;
    background-color: #5ce219be;
    border-radius: 10px;
}
.box div{
    position: absolute;
    border: 6px solid rgba(255, 255, 255, 0.883);
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
}
.box div:nth-child(1){
    top: 12%;
    left: 50%;
    animation: anime 10s linear infinite;
}
.box div:nth-child(2){
    top: 2%;
    left: 10%;
    animation: anime 6s linear infinite;
}
.box div:nth-child(3){
    top: 32%;
    left: 1%;
    animation: anime 7s linear infinite;
}
.box div:nth-child(4){
    top: 72%;
    left: 71%;
    animation: anime 10s linear infinite;
}
.box div:nth-child(5){
    top: 5%;
    left: 91%;
    animation: anime 4s linear infinite;
}
.box div:nth-child(6){
    top: 40%;
    left: 79%;
    animation: anime 8s linear infinite;
}
.box div:nth-child(7){
    top: 30%;
    left: 55%;
    animation: anime 4s linear infinite;
}
.box div:nth-child(8){
    top: 90%;
    left: 40%;
    animation: anime 7s linear infinite;
}
.box div:nth-child(9){
    top: 90%;
    left: 10%;
    animation: anime 10s linear infinite;
}
.box div:nth-child(10){
    top: 60%;
    left: 10%;
    animation: anime 10s linear infinite;
}
.box div:nth-child(11){
    top: 90%;
    left: 90%;
    animation: anime 10s linear infinite;
}
.box div:nth-child(12){
    top: 50%;
    left: 25%;
    animation: anime 7s linear infinite;
}
.box div:nth-child(13){
    top: 97%;
    left: 59%;
    animation: anime 7s linear infinite;
}
.box div:nth-child(14){
    top: 90%;
    left: 80%;
    animation: anime 7s linear infinite;
}
@keyframes anime {
    0%{
        transform:scale(0) translateY(0) rotate(0);
    }
    100%{
        transform:scale(1) translateY(-200px) rotate(360deg);
        opacity:0.2;
    }
}

@media screen and (max-width:475px){
    .carte{
        width: 350px;
        height: 500px;
       
    }
    .photo img {
        width: 100px;
        height: 150px;
    }
    .photo{
        width:150px;
        height: 150px;
    }
    h1{
        font-size: 30px;
    }
    p{
        font-size: 14px;
    }
    .icons{
        font-size:30px;
        color: #fff;
        width: 200px;
        padding: 0px;
    }
}